# Data Wrangling

## Annual prices exchangee range per USD

In [27]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
# uploaod or read data set
prices=pd.read_csv("prices_exchange_rate_annual.csv")

In [29]:
pr=prices
pr1=prices

In [30]:
prices.head(3)

,Domain Code,Domain,Area Code,Area,ISO Currency Code,Currency,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,PE,Exchange rates - Annual,100,India,INR,Indian Rupee,5540,Standard local currency units per USD,1970,1970,NaN,7.500000,X,International reliable sources,Data from UNSD AMA
1,PE,Exchange rates - Annual,165,Pakistan,PKR,Pakistan Rupee,5540,Standard local currency units per USD,1970,1970,NaN,4.761900,X,International reliable sources,Data from UNSD AMA
2,PE,Exchange rates - Annual,2,Afghanistan,AFN,Afghani,5540,Standard local currency units per USD,1970,1970,NaN,0.044998,X,International reliable sources,Data from UNSD AMA

In [31]:
prices['Value'].mean()

26.111881427392152

## Methods to deal with missing values
- in a data missing values are either ? or N/A or 0 or blank cell.

- Whenever data is not available in particular row or column.
## Steps
1. Try to collect data again
2. Remove that particular column
3. Replace the missing values

A. How?

- Average value of entire variable similar data point

- Frequency or Mode replacement

- replace based on other fuctions

- ML algorithm can also be used

- leave it like that

B. Why?

- its better bcz no data is lost
        
- less accurate

In [32]:
# finding missing values
prices.isnull().sum()

Domain Code            0
Domain                 0
Area Code              0
Area                   0
ISO Currency Code      0
Currency               0
Item Code              0
Item                   0
Year Code              0
Year                   0
Unit                 204
Value                  0
Flag                   0
Flag Description       0
Note                   0
dtype: int64

In [33]:
# removing missing value column
prices_clean=prices.drop(['Unit'], axis=1)
prices_clean.head(2)

,Domain Code,Domain,Area Code,Area,ISO Currency Code,Currency,Item Code,Item,Year Code,Year,Value,Flag,Flag Description,Note
0,PE,Exchange rates - Annual,100,India,INR,Indian Rupee,5540,Standard local currency units per USD,1970,1970,7.5000,X,International reliable sources,Data from UNSD AMA
1,PE,Exchange rates - Annual,165,Pakistan,PKR,Pakistan Rupee,5540,Standard local currency units per USD,1970,1970,4.7619,X,International reliable sources,Data from UNSD AMA

In [34]:
# Again check missing values
prices_clean.isnull().sum()

Domain Code          0
Domain               0
Area Code            0
Area                 0
ISO Currency Code    0
Currency             0
Item Code            0
Item                 0
Year Code            0
Year                 0
Value                0
Flag                 0
Flag Description     0
Note                 0
dtype: int64

# Data formating

- bring dat to a common standard.
- Ensure data is consistant and understandable
    - Easy to gather
    - Easy to work with
    - e.g Faisalabad(FSD)
    - Convert g to kg or similar unit for all
    - One standard unit for each column
    - ft!=cm

In [35]:
pr.dtypes

Domain Code           object
Domain                object
Area Code              int64
Area                  object
ISO Currency Code     object
Currency              object
Item Code              int64
Item                  object
Year Code              int64
Year                   int64
Unit                 float64
Value                float64
Flag                  object
Flag Description      object
Note                  object
dtype: object

In [36]:
# rename column
pr.rename(columns={"Area Code": "Area Code rename"}, inplace=True)
pr.head()

,Domain Code,Domain,Area Code rename,Area,ISO Currency Code,Currency,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,PE,Exchange rates - Annual,100,India,INR,Indian Rupee,5540,Standard local currency units per USD,1970,1970,NaN,7.500000,X,International reliable sources,Data from UNSD AMA
1,PE,Exchange rates - Annual,165,Pakistan,PKR,Pakistan Rupee,5540,Standard local currency units per USD,1970,1970,NaN,4.761900,X,International reliable sources,Data from UNSD AMA
2,PE,Exchange rates - Annual,2,Afghanistan,AFN,Afghani,5540,Standard local currency units per USD,1970,1970,NaN,0.044998,X,International reliable sources,Data from UNSD AMA
3,PE,Exchange rates - Annual,79,Germany,EUR,Euro,5540,Standard local currency units per USD,1970,1970,NaN,1.871328,X,International reliable sources,Data from UNSD AMA
4,PE,Exchange rates - Annual,79,Germany,EUR,Euro,5540,Standard local currency units per USD,1971,1971,NaN,1.793302,X,International reliable sources,Data from UNSD AMA

# Data Normalization
- Uniform the data
- Making sure they have same impact
- zero to one range
- Also for computational reasons

In [37]:
# show only two column
pr= pr[["Year", "Value"]]
pr.head(5)

   Year     Value
0  1970  7.500000
1  1970  4.761900
2  1970  0.044998
3  1970  1.871328
4  1971  1.793302

- the data which is really in wide range. we need to normalize and hard to compare.

- normalization change bthe valuesto the range of 0-to-1(now both variables have similar influence on our models)

# Method of normalization
- Simple feaured scaling
- x(new)= x(old)/x(max)
- Min-Max method
- Z-score(standard score) -3 to +3
- Log tranformation
we will use log transformation method here.

In [38]:
pr['Value']=np.log(pr['Value'])
pr.head()

C:\Users\m s\AppData\Local\Temp\ipykernel_9768\1549460086.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pr['Value']=np.log(pr['Value'])

   Year     Value
0  1970  2.014903
1  1970  1.560647
2  1970 -3.101128
3  1970  0.626648
4  1971  0.584059

# Binning
- Grouping of values into smaller number of values(bins)
- convert numaric into categories(jawan, bachy, boorhy) or1-16,17-30 etc.
- to have better understanding of groups
- low vs mid vs high price

In [40]:
bins= np.linspace(min(pr['Year']), max(pr['Year']), 15000)
Year_groups= ["ancient times","middle era", "golden era"]
pr['Year']= pd.cut(pr['Year'], bins=[1970,1990,2010,2020], labels= Year_groups, include_lowest= True)
pr['Year']

C:\Users\m s\AppData\Local\Temp\ipykernel_9768\3110518096.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pr['Year']= pd.cut(pr['Year'], bins=[1970,1990,2010,2020], labels= Year_groups, include_lowest= True)

0      ancient times
1      ancient times
2      ancient times
3      ancient times
4      ancient times
           ...
199       golden era
200       golden era
201       golden era
202       golden era
203       golden era
Name: Year, Length: 204, dtype: category
Categories (3, object): ['ancient times' < 'middle era' < 'golden era']

# Converting categories into dumies
- easy to use for computation
- male female(0, 1)
- can be done on only two type of categoical variable such as male/female or true/false etc

In [ ]:
# to get dummy value
#pd.get_dummies(pr['any name from data frame']).head()

In [ ]:
# to append dummy value into data frame
#pd.get_dummies(pr, columns=['any name from data frame']).head()